/* Global
---------------------------*/

body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea {
    font-family: arial, verdana, sans-serif;
    /*line-height: 1.5em;*/
    color: #333;
    font-size: medium;
}

a {
    color: #00AF51 !important;
}

a:hover {
    text-decoration: underline;
}

#wrapper {
    padding:0 5%;
    border-top: 20px solid #00AF51;
}

h2,h3,h4,h5,h6 {
    color: #999;
    font-weight: normal;
}

blockquote {
    border-left:1px solid #eee;
    padding-left:15px;
    color:#666;
}

fieldset#general {
    border-color: #eee;
}

fieldset#general legend {
    color: #555;
    font-weight: normal;
    font-size: 1.2em;
    border: 1px solid #eee;
    padding: 2px 5px;
    background: #fff;
}

/* Header
----------------------------*/

#page-header {
    padding: 10px 0 0 10px;
}

#page-site-index #page-header {
    border-bottom: 1px dashed #00AF51;
    padding-bottom: 10px;
}

#header-left {
    float: left;
    width: 60%;
}

#header-left img {
    margin: 1em 0;
    width: 100%;
}

.headermain,
.headermenu {
    margin: 0;
}

#page-header h1 {
    float: none;
    font-size: 2.25em;
    line-height: 1;
}

#page-header h1.inside {
    color: #666;
    font-size: 2em;
}

#page-header p {
    color:#FF9;
}

#page-footer {
    color: yellow;
    background: #00AF51;
    padding-top: 1.5em;
}

#page-footer a {
    color: #FFFFFF;
}

/* Navbar
----------------------------*/

.navbar {
    background: #F7F7F7;
    padding: 5px 10px;
    border: 1px solid #EEE;
    border-radius: 0.5em;
    box-shadow: -3px 3px 5px #EEE;
}

.breadcrumb .sep {
    padding-left: 5px;
}

/* Blocks
----------------------------*/

.block {
    background: #F7F7F7;
    border: 1px solid #EEE;
    border-radius: 0.5em;
    box-shadow: -3px 3px 5px #EEE;
}

.block .header h2 {
    background: #00AF51;
    border-radius: 0.3em;
    color: #FFFFFF;
    font-size: large;
    font-weight: bold;
    border-bottom: 1px dashed #00AF51;
    padding-bottom: 5px;
    padding: 0 5px;
}

/* Courses 
----------------------------*/

h2.headingblock {
    font-weight: normal;
    color:#999;
    font-size: 1.5em;
    border-bottom:1px solid #eee;
    padding-bottom:2px;
}

.coursebox {
    border-color: #eee;
}

.coursebox .info {
    width: 35%;
}

.coursebox .info .name {
    margin-bottom: 0;
}

.coursebox .info .teachers {
    font-size: 0.9em;
    color: #888;
}

.coursebox .summary {
    width: 63%;
}

.course-content .section.main {
    border-bottom: 1px solid #eee;
}

.course-content .section.main .content {
    padding: 5px 5px 10px;
}

.course-content .weeks .section.main .content {
    margin-left: 0;
}

.course-content .weeks .section.main .left {
    display: none;
}

.course-content .section.main.current {
    background:#fffcdc;
}

.course-content .weeks .section.main h3.weekdates {
    color: #999;
}

.course-content .current .left,
.course-content .current h3.weekdates {
    color: #f25f0f !important;
}
/* Forum 
--------------------------*/

.forumpost .topic {
    background: #F7F7F7;
    padding: 8px 18px;
    border-radius: 0.5em 0.5em 0 0;
}

.forumpost .subject {
    color: #00AF51;
    font-size: larger;
    font-weight: bold;
}

.forumpost .author {
    font-size: 0.9em;
    font-style: italic;
}

.forumpost .no-overflow {
    border-width: 0 1px;
    border-style: solid;
    border-color: #eee;
    margin: 0 1px;
}

.forumpost .content .posting {
    padding: 10px 20px;
}

.forumpost .options .commands, 
.forumpost .content .attachments, 
.forumpost .options .footer, 
.forumpost .options .link {
    background: #F7F7F7 !important;
    padding: 5px 10px;
    border-radius: 0 0 0.5em 0.5em;
}

/* Dock */

#dock {
    background: #eee;
    border: none;
}

#dock .firstdockitem {
    margin-top: 15px;
}

#dock .dockeditem {
    background-color: #fff;
    border: 1px solid #eee;
    border-width: 0 1px 1px 0;
    padding: 3px 0;
}

#dock .dockeditem .dockedtitle {
    border: none;
}

#dock .dockeditem .dockedtitle h2 {
    margin: 12px 0 12px 7px;
    color: #666;
}

#dockeditempanel .dockeditempanel_content {
    border-color: #eee;
}

#dockeditempanel .dockeditempanel_hd {
    border-bottom: none;
    padding: 3px 5px;
    background: #eee;
    text-align: left;
}

#dockeditempanel .dockeditempanel_hd h2 {
    color: #333;
    text-align: right;
    font-weight: normal;
    font-size: 0.8em;
    padding: 0 2px;
}

#dockeditempanel .dockeditempanel_hd .commands {
    float: right;
}

.has-custom-menu #dock .firstdockitem {
    margin-top:30px;
}

.has-custom-menu #wrapper,
#custommenu .yui3-menu-horizontal .yui3-menu-content,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content,
#custommenu .yui3-menu-horizontal .yui3-menu-content ul,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content ul,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content li li:hover > a,
#custommenu .yui3-menu-horizontal .yui3-menu-label,
#custommenu .yui3-menuitem,
#custommenu .yui3-menuitem .yui3-menuitem-content {
    border-width: 0;
}

#custommenu {
    padding-left:100px;
    border-bottom:1px solid #DDD;
    background-color:#EEE;
}

#custommenu .yui3-menu-content {
    background-color: transparent;
}

#custommenu .yui3-menu .yui3-menu-label,
#custommenu .yui3-menu .yui3-menuitem-content {
    color:#F25F0F;
    line-height:24px;
    padding: 5px 10px;
}

#custommenu .custom_menu_submenu .yui3-menu-label,
#custommenu .custom_menu_submenu .yui3-menuitem-content {
    padding: 5px 20px;
}

#custommenu .custom_menu_submenu .yui3-menu-content,
#custommenu .yui3-menu-label-active,
#custommenu .yui3-menu-label-menuvisible {
    background-color: #f9f9f9;
}

#custommenu .custom_menu_submenu .yui3-menu-label-active,
#custommenu .custom_menu_submenu .yui3-menu-label-menuvisible,
#custommenu .yui3-menu .yui3-menu .yui3-menuitem-active .yui3-menuitem-content {
    background-color: #fefefe;
}

#custommenu .custom_menu_submenu .yui3-menu-content {
    border-left:1px solid #DDD;
    border-right:1px solid #DDD;
    border-bottom:1px solid #DDD;
}
#custommenu .custom_menu_submenu .custom_menu_submenu .yui3-menu-content {
    border-top:1px solid #DDD;
}