/* Global
---------------------------*/

body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea {
    font-family: arial, verdana, sans-serif;
    /*line-height: 1.5em;*/
    color: #333;
    font-size: medium;
}

a {
    color: #00AF51 !important;
}

a:hover {
    text-decoration: underline;
}

#wrapper {
    padding:0 5%;
    border-top: 20px solid #00AF51;
}

h2,h3,h4,h5,h6 {
    color: #999;
    font-weight: normal;
}

h2.main, h3.main, h4.main{
    color: #FFFFFF;
    background: #00AF51;
    border-radius: 0.5em;
    padding: 0.1em;
    margin-bottom: 1em;
    font-size: 1.1em;
}

blockquote {
    border-left:1px solid #eee;
    padding-left:15px;
    color:#666;
}

fieldset#general {
    border-color: #eee;
}

fieldset#general legend {
    color: #555;
    font-weight: normal;
    font-size: 1.2em;
    border: 1px solid #eee;
    padding: 2px 5px;
    background: #fff;
}

table#user-grades tr.odd th.header {
    background-color: #EEEEEE;    
}

table#user-grades tr.odd td.cell {
    background: #F7F7F7;
}

table#fixed_column tr.odd th, 
table#user-grades tr.odd th {
    background-color: #EEEEEE;
}

.mform fieldset {
    border: 1px dashed #00AF51;
    border-radius: 0.5em;
}

.mform .fdescription.required {
    color: #00AF51;
}

.mform .error, .mform .required {
    color: #00af51;
}

.adminsearchform {
    padding-bottom: 10px;
}

.userpicture {
    border: 1px solid #EEEEEE;
    border-radius: 0.5em;
    box-shadow: -3px 3px 5px #EEEEEE;
}

.userprofile .profilepicture {
    margin-right: 30px;
    border: 1px solid #EEEEEE;
    border-radius: 0.5em;
    box-shadow: 2px 3px 5px #EEEEEE;
}

.message .heading {
    font-size: 1.1em;
}

.message .messagearea {
    border-left: 1px dashed #00AF51;
    margin-bottom: 1em;
}

.message .messagearea .messagerecent .singlemessage .messagedate {
    background-color: rgba(0, 175, 81, 0.1);
    border-radius: 1em;
    color: #00AF51;
    float: none;
    font-size: 0.9em;
    padding: 0 1em;
}

.message .messagearea .messagerecent .singlemessage {
    border-bottom: none;
    padding: 0 0.5em;
}

.message .time {
    background-color: rgba(0, 175, 81, 0.1);
    border-radius: 1em;
    color: #00AF51;
    padding: 0 0.5em;
}

.message .me {
    border-bottom: 1px dashed #00AF51;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

/* Header
----------------------------*/

#page {
    font-size: large;
}

#page-header {
    padding: 10px 0 0 10px;
}

#page-site-index #page-header {
    border-bottom: 1px dashed #00AF51;
    padding-bottom: 10px;
}

#header-left {
    float: left;
    width: 60%;
}

#header-left img {
    margin: 1em 0;
    width: 100%;
}

.headermain,
.headermenu {
    margin: 0;
}

.headermenu img {
    margin-top: 2em;
    width: 80%;
}

#page-header h1 {
    float: none;
    font-size: 2.25em;
    line-height: 1;
}

#page-header h1.inside {
    color: #666;
    font-size: 2em;
}

#page-header p {
    color:#FF9;
}

#page-footer {
    background: #00AF51;
    color: #FFFFFF;
    padding: 1.5em 0 2em;
    text-align: left;
}

#page-footer a {
    color: #F7F7F7 !important;
}

#logo-footer {
    float: left;
    padding-left: 5%;
}

.contacto_info {
    border-left: 1px dashed #FFFFFF;
    float: left;
    margin-left: 3em;
    padding-left: 2em;
}

/* Navbar
----------------------------*/

.navbar {
    background: #F7F7F7;
    padding: 5px 10px;
    border: 1px solid #EEE;
    border-radius: 0.5em;
    box-shadow: -3px 3px 5px #EEE;
}

.breadcrumb .sep {
    padding-left: 5px;
}

/* Blocks
----------------------------*/

.block {
    background: #F7F7F7;
    border: 1px solid #EEE;
    border-radius: 0.5em;
    box-shadow: -3px 3px 5px #EEE;
}

.block .content {
    padding: 0 0.5em;
}

.block .header h2 {
    background: #00AF51;
    border-radius: 0.3em;
    color: #FFFFFF;
    font-size: large;
    font-weight: bold;
    padding-bottom: 5px;
    padding: 0 5px;
}

.block .header .commands {
    background: #FFFFFF;
    border-radius: 0.3em;
    margin: 0 5px;
}

.block .minicalendar td.weekend {
    color: #00AF51;
    font-weight: bold;
}

.descriptionbox {
    border: 1px dashed #00AF51 !important;
    border-radius: 0.5em !important;
}

.path-user .description {
    border-bottom: 1px dotted #00AF51 !important; 
}

.path-grade-report-grader table tr.avg td.cell, 
table#user-grades td.controls, 
.path-grade-report-grader table tr.avg, 
.path-grade-report-grader table tr.avg td, 
.path-grade-report-grader table tr.avg th {
    background-color: rgba(0, 175, 81, 0.1);
}

.gradestable .lastrow th.header {
    background: rgba(0, 175, 81, 0.1);
}

.loginbox {
    background: #F7F7F7;
    border: 1px solid #EEE;
    border-radius: 0.5em;
    box-shadow: -3px 3px 5px #EEE;
    margin: 1em 25%;
}

.loginbox .guestsub, .loginbox .forgotsub, .loginbox .potentialidps {
    background: white;
    border-radius: 0.5em;
    margin: 0.5em;
}

#helppopupbox {
    background: #F7F7F7;
    border: 1px solid #EEE;
    border-radius: 0.5em;
    box-shadow: -3px 3px 5px #EEE;
    padding-top: 1em;
}

.generalbox {
    border: 1px dashed #00AF51;
    border-radius: 0.5em;
}

.categorybox {
    border: none !important;
}

/* Courses 
----------------------------*/

h2.headingblock {
    font-weight: normal;
    color:#999;
    font-size: 1.5em;
    border-bottom:1px solid #eee;
    padding-bottom:2px;
}

.coursebox {
    border-color: #eee;
}

.coursebox .info {
    width: 35%;
}

.coursebox .info .name {
    margin-bottom: 0;
}

.coursebox .info .teachers {
    font-size: 0.9em;
    color: #888;
}

.coursebox .summary {
    width: 63%;
}

.course-content .section.main {
    border-bottom: 1px solid #eee;
}

.course-content .section.main .content {
    padding: 5px 5px 10px;
}

.course-content .weeks .section.main .content {
    margin-left: 0;
}

.course-content .weeks .section.main .left {
    display: none;
}

.course-content .section.main.current {
    background:#fffcdc;
}

.course-content .weeks .section.main h3.weekdates {
    color: #999;
}

.course-content .current .left,
.course-content .current h3.weekdates {
    color: #f25f0f !important;
}

.course-content ul.topics li.section {
    background: #f7f7f7;
    border: 1px solid #eee;
    border-radius: 0.5em;
    margin: 0 0 1em 0;
}

.course-content ul.topics li.section .content {
    background: #FFFFFF;
    margin: 0 2em;
    padding: 1em;
}

.course_category_tree .category .course {
    background: #F7F7F7;
    padding: 5px 10px;
    border: 1px solid #EEE;
    border-radius: 0.5em;
    box-shadow: -3px 3px 5px #EEE;
    margin-bottom: 0.5em;
}

.modtype_label .mod-indent {
    background: none;
    border: none;
    border-left: none;
    box-shadow: 0 0 0 #FFF;
    padding: 0;
}

.mod-indent {
    background: #F7F7F7;
    padding: 5px 10px;
    border: 1px solid #EEE;
    border-radius: 0.5em;
    box-shadow: -3px 3px 5px #EEE;
    margin-bottom: 0.5em;
}

.activityicon{
    background: #00AF51;
    border-radius: 2em;
    margin-right: 0.5em;
    padding: 0.25em;
}

#intro {
    border: 1px dashed #00AF51;
    border-radius: 0.5em;
    margin: 2em;
}

#intro.generalbox {
    padding: 1em;
}

#page-admin-course-category .generalbox th, 
.editcourse .header, 
.results .header, 
#attempts .header, 
.generaltable .header, 
.environmenttable th, 
.forumheaderlist th {
    background: #F7F7F7;
    border-bottom: 1px solid #00AF51;
}

#page-admin-index .adminwarning {
    border: 1px solid #EEEEEE;
    background: #F7F7F7;
    border-radius: 0.5em;
}

.categorylist {
    background: #F7F7F7;
    border: 1px solid #EEE;
    border-radius: 0.5em;
    box-shadow: -3px 3px 5px #EEE;
    margin: 0 0 1em 1em;
    padding: 5px 10px;
    width: auto;
}

/* Forum 
--------------------------*/

.forumpost .topic {
    background: #F7F7F7;
    border: 1px solid #eee;
    padding: 8px 18px;
    border-radius: 0.5em 0.5em 0 0;
}

.forumpost .subject {
    color: #00AF51;
    font-size: larger;
    font-weight: bold;
}

.forumpost .author {
    font-size: 0.9em;
    font-style: italic;
}

.forumpost .no-overflow {
    border-width: 0 1px;
    border-style: solid;
    border-color: #eee;
}

.forumpost .content .posting {
    padding: 10px 20px;
}

.forumpost .options .commands, 
.forumpost .content .attachments, 
.forumpost .options .footer {
    background: #F7F7F7 !important;
    border: 1px solid #eee;
    padding: 5px 10px;
    border-radius: 0 0 0.5em 0.5em;
}

.forumpost .options .link {
    padding: 5px 10px;
}

.forumpost .picture img {
    border: 1px solid #EEEEEE;
    border-radius: 0.5em;
    box-shadow: -3px 3px 5px #EEE;
    margin: 6px 0 0 6px;
}

.forumpost .row .left {
    width: 3em;
}

.forumpost .row .topic, 
.forumpost .row .content-mask, 
.forumpost .row .options {
    margin-left: 3em;
}

/* Dock */

#dock {
    background: #00AF51;
    border: none;
    width: 2em;
}

#dock .firstdockitem {
    margin-top: 20px;
}

#dock .dockeditem {
    background-color: #fff;
    border-right: 1px dashed #00AF51;
    padding: 3px 0;
    border-radius: 0.5em 0 0 0.5em;
    margin-bottom: 0.2em;
}

#dock .dockeditem .dockedtitle {
    border: none;
}

#dock .dockeditem .dockedtitle h2 {
    margin: 12px 0 12px 7px;
    color: #666;
}

#dockeditempanel .dockeditempanel_content {
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 0.5em;
    margin: 0 5px;
}

#dockeditempanel .dockeditempanel_hd {
    border-bottom: none;
    text-align: left;
    background: #F7F7F7;
    border-radius: 0.3em;
    font-size: large;
    font-weight: bold;
    padding: 0 5px;
}

#dockeditempanel .dockeditempanel_hd h2 {
    color: #333;
    font-weight: bold;
    padding: 0 2px;
}

#dockeditempanel .dockeditempanel_hd .commands {
    float: right;
}

.has-custom-menu #dock .firstdockitem {
    margin-top:30px;
}

.has-custom-menu #wrapper,
#custommenu .yui3-menu-horizontal .yui3-menu-content,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content,
#custommenu .yui3-menu-horizontal .yui3-menu-content ul,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content ul,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content li li:hover > a,
#custommenu .yui3-menu-horizontal .yui3-menu-label,
#custommenu .yui3-menuitem,
#custommenu .yui3-menuitem .yui3-menuitem-content {
    border-width: 0;
}

#custommenu {
    padding-left:100px;
    border-bottom:1px solid #DDD;
    background-color:#EEE;
}

#custommenu .yui3-menu-content {
    background-color: transparent;
}

#custommenu .yui3-menu .yui3-menu-label,
#custommenu .yui3-menu .yui3-menuitem-content {
    color:#F25F0F;
    line-height:24px;
    padding: 5px 10px;
}

#custommenu .custom_menu_submenu .yui3-menu-label,
#custommenu .custom_menu_submenu .yui3-menuitem-content {
    padding: 5px 20px;
}

#custommenu .custom_menu_submenu .yui3-menu-content,
#custommenu .yui3-menu-label-active,
#custommenu .yui3-menu-label-menuvisible {
    background-color: #f9f9f9;
}

#custommenu .custom_menu_submenu .yui3-menu-label-active,
#custommenu .custom_menu_submenu .yui3-menu-label-menuvisible,
#custommenu .yui3-menu .yui3-menu .yui3-menuitem-active .yui3-menuitem-content {
    background-color: #fefefe;
}

#custommenu .custom_menu_submenu .yui3-menu-content {
    border-left:1px solid #DDD;
    border-right:1px solid #DDD;
    border-bottom:1px solid #DDD;
}
#custommenu .custom_menu_submenu .custom_menu_submenu .yui3-menu-content {
    border-top:1px solid #DDD;
}